<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <script>
        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
        if ("<%= uid %>" == "") {
            var HOME_PAGE = "http://139.162.54.236:5000/";
            window.location.href = HOME_PAGE
        } else {
            setCookie("uid", "<%= uid %>", 1)
            setCookie("email", "<%= email %>", 1)
            setCookie("token", "<%= token %>", 1)
            window.location.href = "http://localhost"
        }

    </script>
</body>

</html>